{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Homepage</title>

    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

{% if user.is_authenticated %}
<p>Welcome back, {{ user.username }}!</p>
{% else %}
<p>Please <a href="{% url 'logintipper' %}">log in</a> to access your account.</p>
{% endif %}

<body>
    <header>
        <h1>It's Giving Tips #ITG</h1>
        <h2>The best way to tip your favourite Queen!</h2>
        <h4>Safe and secure, making sure they get the whole tip, as if you were a kitty girl yourself!</h4>
        <a href="{% url 'logintipper' %}"><button type="button" class="block">Log in as a Tipper</button></a>
        <a href="{% url 'logintippee' %}"><button type="button" class="block">Log in as a Tippee </button></a>
        <a href="{% url 'signuptipper' %}"><button type="button" class="block">Sign Up as a Tipper</button></a>
        <a href="{% url 'signuptippee' %}"><button type="button" class="block">Sign Up as a Tippee </button></a> 
    </header>
    
    
    <section>
        <font size="+2">
            <p>Welcome to It's Giving Tips (#ITG), the premier digital platform for tipping live drag queen performances! 
            We have made it easier than ever to show your support to your favorite queens, whether you're watching them perform live in person or online. 
            With ITG, you can tip any amount from as low as 20 Cents to 20 Euros directly to the performer, ensuring they receive 100% of your tip. 
            No need to carry loose change or cash; your support is just a click away!</p> 
        </font>

        <img src="https://media.istockphoto.com/id/1326518609/photo/happy-drag-queen-having-fun-acting-surprised-in-front-of-camera-lgbtq-concept.jpg?s=2048x2048&w=is&k=20&c=Ub8JYFWFbzYlVQXjAv8rIZRspSGPxd1m2-lCzWFIFvw=" alt="Happy drag queen having fun acting surprised in front of camera - LGBTQ concept" style="width: 80%; max-width: 600px; margin: 20px auto; display: block;">

        <font size="+2">
            <p>For performers, ITG provides a seamless and secure way to receive tips from your audience, whether they are in your venue or watching live. 
            Set up your account, generate your personal QR code, and start receiving tips in real-time. 
            Your tips will be deposited into your payment method. 
            We ensure that you get every dime of what your audience intends to give you!</p>
        </font>

        <img src="https://media.istockphoto.com/id/1156963726/photo/currency.jpg?s=2048x2048&w=is&k=20&c=W8Lnpvmzq6oobwnpRxvfHhneLo1adnppR_6PwoGI-Bo=" alt="Glass jar for money on background" style="width: 80%; max-width: 600px; margin: 20px auto; display: block;">

        <font size="+2">
            <p>For tippers, simply scan the performer's QR code or enter in the registration number to access the tipping page. 
            It's quick, easy, and secure, making sure your favorite queens are rewarded for their hard work and talent. 
            Plus, you can tip from anywhere, whether you're in the audience or watching online. 
            Join the ITG community today and start supporting the queens you love!</p>
        </font>
    </section>

    <footer class="container-fluid">
        <div id="footer-details" class="row">
            <div class="col-sm-4">
                <h6 class="uppercase general-sub" style="color: rgb(81, 229, 224); display: block;">About</h6>
                <p>This smart device application allows you to send a tip directly to your favourite performing queen, live and in real time!</p>
                <h6 class="uppercase general-sub" style="color: rgb(81, 229, 224); display: block;">Imprint</h6>
                <p>IGT (dba) It's Giving Tips</p>
                <h6 class="uppercase general-sub" style="color: rgb(81, 229, 224); display: block;">Support</h6>
                <p>If you encounter any issues with logging in, navigating the site, or have any questions, we're here to help!</p>
            </div>
            <div class="col-sm-4">
                <h6 class="uppercase general-sub" style="color: rgb(81, 229, 224); display: block;">Support</h6>
                <p>It's Giving Tips (ITG) is provided as-is, without any express or implied warranties.</p>
            </div>
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">Social</h5>
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a> 
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a> 
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a> 
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
