{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage for your Tippee account</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="main">
    <h1>Homepage for your Tippee account</h1>
    <h3>Your Account Dashboard</h3>

    <h3>Your username is how you are identified:</h3>

    <h4>Actions</h4>
    <a href="tippeejar.html">
      <button type="button">Go to Tip Jar to See Your Tips!</button>
    </a>
    <a href="{% url 'tippee_delete' user.id %}">
      <button type="button" class="delete-button">Delete Account</button>
    </a>
   
    <a href="{% url 'logout' %}">
        <button type="button" class="block">Log Out</button>
    </a>

    <h4>Choose Your Payment Method</h4>
    <a target="_blank" href="#">
      <i class="fa-brands fa-google-pay" aria-hidden="true"></i>
      <span class="sr-only">Google Pay</span>
    </a>
    <a target="_blank" href="#">
      <i class="fa-brands fa-paypal" aria-hidden="true"></i>
      <span class="sr-only">PayPal</span>
    </a>
  </div>

  <footer class="container-fluid">
    <div id="footer-details" class="row">
      <div class="col-sm-4">
        <h6 class="uppercase general-sub" style="color: rgb(81, 229, 224); display: block;">About</h6>
        <p>
          This application allows you to tip your favorite performers directly using their unique QR code. 
          Tipping amounts start as low as 20 cents, with 100% of your tip going to the performer.
        </p>
        <h6 class="uppercase general-sub" style="color: rgb(81, 229, 224); display: block;">Imprint</h6>
        <p>
          IGT (dba) It's Giving Tips<br>
          Registered Office - 101 Vague Lane, Blankshire, PO 80X<br>
          Contact - Email or Phone Support Available 24/7
        </p>
      </div>
      <div class="col-sm-4">
        <h6 class="uppercase general-sub" style="color: rgb(81, 229, 224); display: block;">Support</h6>
        <p>
          If you have any issues with logging in or navigating the site, contact us at 
          support@example.com or call +1 0800 80888. We're here 24/7 to assist you!
        </p>
      </div>
      <div class="col-sm-4">
        <h5 class="uppercase general-sub">Social</h5>
        <ul class="list-inline social-links">
          <li class="list-inline-item">
            <a target="_blank" href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <span class="sr-only">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="#">
              <i class="fa fa-youtube" aria-hidden="true"></i>
              <span class="sr-only">YouTube</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
