{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage for your Tipper account</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="main">
    <h1>Its Giving Tips</h1>
    <h3>Welcome to your Tipper homepage.</h3>

    <a href="{% url 'logout' %}">
      <button type="button" class="block">Log Out</button>
    </a>

    <h3> Press the camera symbol below to scan the QR Code <br><br>
      Or type in the identification number and press enter
    </h3>

    <h6> Scan the QR code here and be taken to the tip page for your performer! </h6>

    <div>
      <input type="file" accept="image/*" capture="camera" style="display:block">
    </div>

    <h6> Enter the username here and be taken to the tip page for your performer! </h6>
    <label for="identification">Username:</label>
    <input type="text" id="identification" name="identification" />

    <a href="{% url 'tipper_jar' %}">
      <button type="button">View Sent Tips</button>
    </a>
    <a href="{% url 'tipper_list' %}">
      <button type="button">Search Tippees</button>
    </a>
    <a href="{% url 'tipper_delete' request.user.id %}">
      <button type="button">Delete Account</button>
    </a>
  </div>
</body>

</html>
